@tailwind base;
@tailwind components;
@tailwind utilities;


button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.section-title {
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}